#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.converter__title {
  font-size: 24px;
  background: #3b3b3b;
  padding: 10px;
  border-radius: 5px;
}

.converter__field {
  width: 200px;
  height: 30px;
  padding: 10px;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.converter__field:focus {
  outline: 0;
}

.converter__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.converter__output {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: white;
  color: #000;
  font-size: 20px;
  border-radius: 5px;
}

.converter__button {
  display: none;
}

.converter__button--show {
  display: block;
}

